.wrap {
  display: grid;
  width: 100%;
  max-height: 100vh;
  overflow: auto;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  padding: 10px;
}
.book {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 200px;
  height: 200px;
  border: 1px solid var(--accent-6);
  border-radius: 12px;
  padding: 10px;
  cursor: pointer;
  word-break: break-word;

  &:hover {
    background-color: var(--gray-a6);
  }
  &.isDir {
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
  }
}